DataSets/SI_Data_Files/Lip_SI.csv filter=lfs diff=lfs merge=lfs -text
DataSets/SI_Data_Files/Solv_SI.csv filter=lfs diff=lfs merge=lfs -text
DataSets/SI_Data_Files/Tox102_SI.csv filter=lfs diff=lfs merge=lfs -text
DataSets/SI_Data_Files/Tox134_SI.csv filter=lfs diff=lfs merge=lfs -text
DataSets/SI_Data_Files/Alpha_SI.csv filter=lfs diff=lfs merge=lfs -text
DataSets/SI_Data_Files/BACE_SI.csv filter=lfs diff=lfs merge=lfs -text
DataSets/SI_Data_Files/g298atom_SI.csv filter=lfs diff=lfs merge=lfs -text
DataSets/SI_Data_Files/LD50_SI.csv filter=lfs diff=lfs merge=lfs -text
Results/BACE/PKL/BACE_15_5_0p01_gp.pkl filter=lfs diff=lfs merge=lfs -text
Results/BACE/PKL/BACE_15_5_0p01_gp_witherror.pkl filter=lfs diff=lfs merge=lfs -text
Results/BACE/PKL/BACE_15_5_0p01_knn.pkl filter=lfs diff=lfs merge=lfs -text
Results/BACE/PKL/BACE_15_5_0p01_rf.pkl filter=lfs diff=lfs merge=lfs -text
Results/BACE/PKL/BACE_15_5_0p01_ridge.pkl filter=lfs diff=lfs merge=lfs -text
Results/BACE/PKL/BACE_15_5_0p01_svr.pkl filter=lfs diff=lfs merge=lfs -text
Results/LD50/PKL/LogLD50_15_5_0p01_knn.pkl filter=lfs diff=lfs merge=lfs -text
Results/LD50/PKL/LogLD50_15_5_0p01_rf.pkl filter=lfs diff=lfs merge=lfs -text
Results/LD50/PKL/LogLD50_15_5_0p01_ridge.pkl filter=lfs diff=lfs merge=lfs -text
Results/LD50/PKL/LogLD50_15_5_0p01_svr.pkl filter=lfs diff=lfs merge=lfs -text
Results/LD50/PKL/LogLD50_15_5_0p01_gp.pkl filter=lfs diff=lfs merge=lfs -text
Results/LD50/PKL/LogLD50_15_5_0p01_gp_witherror.pkl filter=lfs diff=lfs merge=lfs -text
Results/Lip/PKL/Lip_15_5_0p01_knn.pkl filter=lfs diff=lfs merge=lfs -text
Results/Lip/PKL/Lip_15_5_0p01_rf.pkl filter=lfs diff=lfs merge=lfs -text
Results/Lip/PKL/Lip_15_5_0p01_ridge.pkl filter=lfs diff=lfs merge=lfs -text
Results/Lip/PKL/Lip_15_5_0p01_svr.pkl filter=lfs diff=lfs merge=lfs -text
Results/Solv/PKL/Solv_15_5_0p01_svr.pkl filter=lfs diff=lfs merge=lfs -text
Results/Solv/PKL/Solv_15_5_0p01_gp.pkl filter=lfs diff=lfs merge=lfs -text
Results/Solv/PKL/Solv_15_5_0p01_gp_witherror.pkl filter=lfs diff=lfs merge=lfs -text
Results/Solv/PKL/Solv_15_5_0p01_knn.pkl filter=lfs diff=lfs merge=lfs -text
Results/Solv/PKL/Solv_15_5_0p01_rf.pkl filter=lfs diff=lfs merge=lfs -text
Results/Solv/PKL/Solv_15_5_0p01_ridge.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox102/PKL/Tox102_15_5_0p01_svr.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox102/PKL/Tox102_15_5_0p01_gp.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox102/PKL/Tox102_15_5_0p01_gp_witherror.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox102/PKL/Tox102_15_5_0p01_knn.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox102/PKL/Tox102_15_5_0p01_rf.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox102/PKL/Tox102_15_5_0p01_ridge.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox134/PKL/Tox134_15_5_0p01_gp.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox134/PKL/Tox134_15_5_0p01_gp_witherror.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox134/PKL/Tox134_15_5_0p01_knn.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox134/PKL/Tox134_15_5_0p01_rf.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox134/PKL/Tox134_15_5_0p01_ridge.pkl filter=lfs diff=lfs merge=lfs -text
Results/Tox134/PKL/Tox134_15_5_0p01_svr.pkl filter=lfs diff=lfs merge=lfs -text
DataSets/Original_Files/Solv_Orig.csv filter=lfs diff=lfs merge=lfs -text
DataSets/Original_Files/Tox_Orig.xlsx filter=lfs diff=lfs merge=lfs -text
DataSets/Original_Files/BACE_Orig.csv filter=lfs diff=lfs merge=lfs -text
DataSets/Original_Files/G298Atom_Alpha_Orig.csv filter=lfs diff=lfs merge=lfs -text
DataSets/Original_Files/g298atom_EXAMPLE.csv filter=lfs diff=lfs merge=lfs -text
DataSets/Original_Files/LD50_Orig.txt filter=lfs diff=lfs merge=lfs -text
DataSets/Original_Files/Lip_Orig.csv filter=lfs diff=lfs merge=lfs -text
Results/g298_atom/PKL/g298_15_5_0p01_svr.pkl filter=lfs diff=lfs merge=lfs -text
Results/g298_atom/PKL/g298_15_5_0p05_ridge.pkl filter=lfs diff=lfs merge=lfs -text
Results/g298_atom/PKL/g298_15_5_0p01_gp.pkl filter=lfs diff=lfs merge=lfs -text
Results/g298_atom/PKL/g298_15_5_0p01_gp_witherror.pkl filter=lfs diff=lfs merge=lfs -text
Results/g298_atom/PKL/g298_15_5_0p01_knn.pkl filter=lfs diff=lfs merge=lfs -text
Results/g298_atom/PKL/g298_15_5_0p01_rf.pkl filter=lfs diff=lfs merge=lfs -text
Results/g298_atom/PKL/g298_15_5_0p01_ridge.pkl filter=lfs diff=lfs merge=lfs -text
Results/Alpha/PKL/Alpha_15_5_0p01_knn.pkl filter=lfs diff=lfs merge=lfs -text
Results/Alpha/PKL/Alpha_15_5_0p01_rf.pkl filter=lfs diff=lfs merge=lfs -text
Results/Alpha/PKL/Alpha_15_5_0p01_svr.pkl filter=lfs diff=lfs merge=lfs -text
Results/Alpha/PKL/Alpha_15_5_0p01_gp.pkl filter=lfs diff=lfs merge=lfs -text
Results/Alpha/PKL/Alpha_15_5_0p01_gp_witherror.pkl filter=lfs diff=lfs merge=lfs -text
